pipeline/CRM_Wechat.json
{
	"name": "CRM_Wechat",
	"properties": {
		"description": "CRM微信小程序",
		"activities": [
			{
				"name": "ForEach_Wechat",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Wechat",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.tableName}"
								},
								{
									"name": "Destination",
									"value": "crmwechatminiprogram//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "MySqlSource"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_5ox",
									"type": "DatasetReference",
									"parameters": {
										"cw_tableName": "@item().source.tableName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_5ox",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ServiceInvoiceDel",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Wechat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServiceInvoice_DEL]"
				},
				"linkedServiceName": {
					"referenceName": "CRMExtension",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy_ServiceInvoice",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ServiceInvoiceDel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.View_CRM_电子开票报表"
					},
					{
						"name": "Destination",
						"value": "dbo.ServiceInvoice"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ServiceIncidentName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceIncidentName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceServiceName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceServiceName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "From",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "From",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Score",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Score",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AppScore"
								},
								"sink": {
									"name": "AppScore"
								}
							},
							{
								"source": {
									"name": "SystemUser",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SystemUser",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SystemUserName"
								},
								"sink": {
									"name": "SystemUserName"
								}
							},
							{
								"source": {
									"name": "engineer",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "engineer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "engineerName"
								},
								"sink": {
									"name": "engineerName"
								}
							},
							{
								"source": {
									"name": "assistEngineer",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assistEngineer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "HospitalName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HospitalName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TaxNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TaxNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYXYZ_TaxNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TYXYZ_TaxNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BankName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BankName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BankAccount",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BankAccount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContactName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContactName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContactPhone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContactPhone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContactAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContactAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceId"
								},
								"sink": {
									"name": "ServiceId"
								}
							},
							{
								"source": {
									"name": "StudyServiceId"
								},
								"sink": {
									"name": "StudyServiceId"
								}
							},
							{
								"source": {
									"name": "StudyServiceName"
								},
								"sink": {
									"name": "StudyServiceName"
								}
							},
							{
								"source": {
									"name": "Remark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Remark",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FinallyTime"
								},
								"sink": {
									"name": "FinallyTime"
								}
							},
							{
								"source": {
									"name": "InstallationId"
								},
								"sink": {
									"name": "InstallationId"
								}
							},
							{
								"source": {
									"name": "InstallationName"
								},
								"sink": {
									"name": "InstallationName"
								}
							},
							{
								"source": {
									"name": "ProvinceName"
								},
								"sink": {
									"name": "ProvinceName"
								}
							},
							{
								"source": {
									"name": "CityName"
								},
								"sink": {
									"name": "CityName"
								}
							},
							{
								"source": {
									"name": "DistrictName"
								},
								"sink": {
									"name": "DistrictName"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_g46",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_g46",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"tableName": "`crm_template_haemocytebad_cs`"
						},
						"destination": {
							"fileName": "`crm_template_haemocytebad_cs`"
						}
					},
					{
						"source": {
							"tableName": "`crm_template_haemocytebad_host`"
						},
						"destination": {
							"fileName": "`crm_template_haemocytebad_host`"
						}
					},
					{
						"source": {
							"tableName": "`crm_template_haemocytebad`"
						},
						"destination": {
							"fileName": "`crm_template_haemocytebad`"
						}
					},
					{
						"source": {
							"tableName": "`t_wx_phenomenon_rootcause_dict`"
						},
						"destination": {
							"fileName": "`t_wx_phenomenon_rootcause_dict`"
						}
					},
					{
						"source": {
							"tableName": "`t_wx_pm_rc_dict`"
						},
						"destination": {
							"fileName": "`t_wx_pm_rc_dict`"
						}
					},
					{
						"source": {
							"tableName": "`t_wx_product_code`"
						},
						"destination": {
							"fileName": "`t_wx_product_code`"
						}
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-30T02:32:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}