pipeline/CRM_INFO.json
{
	"name": "CRM_INFO",
	"properties": {
		"activities": [
			{
				"name": "ForEach_dict",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items_dict",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Dict",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "crm//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach_salse",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_dict",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items_sales",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Sales",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "crm//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach_service",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_salse",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items_service",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Service",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "crm//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "USP_SERVICE_DEL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_service2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServiceService_Del]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy_OA_Service",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "USP_SERVICE_DEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.view_OA_ServiceServiceBy6Month"
					},
					{
						"name": "Destination",
						"value": "ods.ServiceService"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DataLake",
							"type": "LinkedServiceReference"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ServiceId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Account",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Account",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProvinceName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProvinceName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CityName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CityName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DistrictName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DistrictName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DealerId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DealerId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DealerAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DealerAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DealerUserId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DealerUserId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DealerUserName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DealerUserName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InstallationName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallationName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InstallationCODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InstallationCODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceType",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ServiceType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ServiceTypeName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ServiceTypeName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Contact",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Contact",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ContactName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContactName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsDirectService",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsDirectService",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "createdtime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "createdtime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "RepairDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RepairDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "RepairEndTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RepairEndTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "RepairStartTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "RepairStartTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "UseNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "UseNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_37p",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_37p",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "USP_OA_ServiceAndDaily",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_service2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_OA_客服学术_服务单_日报数据导入]"
				},
				"linkedServiceName": {
					"referenceName": "DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPS_REPORT_OA_Service",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_OA_ServiceAndDaily",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_OA_客服学术_服务单_日报数据导入]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy_OA_ServiceAndDaily",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UPS_REPORT_OA_Service",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.OA_ServiceAndDaily"
					},
					{
						"name": "Destination",
						"value": "ods.OA_ServiceAndDaily"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TableName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TableName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TableNameCn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TableNameCn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "No",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "No",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SysUserNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SysUserNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SysUserName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SysUserName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EventType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EventType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TEL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TEL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProvinceName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProvinceName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CityName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CityName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DealerName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Channel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Channel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WorkDetail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WorkDetail",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsDirectService",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IsDirectService",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Createdtime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_k9t",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_k9t",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEach_service2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_service",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items_service2",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Service_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "crm//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items_dict": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "AccountBase"
						},
						"destination": {
							"fileName": "dbo.AccountBase"
						}
					},
					{
						"source": {
							"table": "City"
						},
						"destination": {
							"fileName": "dbo.City"
						}
					},
					{
						"source": {
							"table": "District"
						},
						"destination": {
							"fileName": "dbo.District"
						}
					},
					{
						"source": {
							"table": "Province"
						},
						"destination": {
							"fileName": "dbo.Province"
						}
					},
					{
						"source": {
							"table": "ContactBase"
						},
						"destination": {
							"fileName": "dbo.ContactBase"
						}
					},
					{
						"source": {
							"table": "DealerBase"
						},
						"destination": {
							"fileName": "dbo.DealerBase"
						}
					},
					{
						"source": {
							"table": "SecDealer"
						},
						"destination": {
							"fileName": "dbo.SecDealer"
						}
					},
					{
						"source": {
							"table": "DealerUser"
						},
						"destination": {
							"fileName": "dbo.DealerUser"
						}
					},
					{
						"source": {
							"table": "OfficeInfo"
						},
						"destination": {
							"fileName": "dbo.OfficeInfo"
						}
					},
					{
						"source": {
							"table": "ProductBase"
						},
						"destination": {
							"fileName": "dbo.ProductBase"
						}
					},
					{
						"source": {
							"table": "SalesArea"
						},
						"destination": {
							"fileName": "dbo.SalesArea"
						}
					},
					{
						"source": {
							"table": "SystemPickList"
						},
						"destination": {
							"fileName": "dbo.SystemPickList"
						}
					},
					{
						"source": {
							"table": "SystemTableField"
						},
						"destination": {
							"fileName": "dbo.SystemTableField"
						}
					},
					{
						"source": {
							"table": "SysUser"
						},
						"destination": {
							"fileName": "dbo.SysUser"
						}
					},
					{
						"source": {
							"table": "ServiceFca"
						},
						"destination": {
							"fileName": "dbo.ServiceFca"
						}
					}
				]
			},
			"cw_items_sales": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "CallSalesDaily"
						},
						"destination": {
							"fileName": "dbo.CallSalesDaily"
						}
					},
					{
						"source": {
							"table": "CallSalesEventType"
						},
						"destination": {
							"fileName": "dbo.CallSalesEventType"
						}
					},
					{
						"source": {
							"table": "SalesIntention"
						},
						"destination": {
							"fileName": "dbo.SalesIntention"
						}
					},
					{
						"source": {
							"table": "SalesNoReagent"
						},
						"destination": {
							"fileName": "dbo.SalesNoReagent"
						}
					},
					{
						"source": {
							"table": "SalesSysUserDealer"
						},
						"destination": {
							"fileName": "dbo.SalesSysUserDealer"
						}
					},
					{
						"source": {
							"table": "CallStudyDaily"
						},
						"destination": {
							"fileName": "dbo.CallStudyDaily"
						}
					},
					{
						"source": {
							"table": "CallStudyEventType"
						},
						"destination": {
							"fileName": "dbo.CallStudyEventType"
						}
					}
				]
			},
			"cw_items_service": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "CallEngineerDaily"
						},
						"destination": {
							"fileName": "dbo.CallEngineerDaily"
						}
					},
					{
						"source": {
							"table": "CallEngineerEventType"
						},
						"destination": {
							"fileName": "dbo.CallEngineerEventType"
						}
					},
					{
						"source": {
							"table": "ServiceCallVisit"
						},
						"destination": {
							"fileName": "dbo.ServiceCallVisit"
						}
					},
					{
						"source": {
							"table": "ServiceIncident"
						},
						"destination": {
							"fileName": "dbo.ServiceIncident"
						}
					},
					{
						"source": {
							"table": "ServiceInstallation"
						},
						"destination": {
							"fileName": "dbo.ServiceInstallation"
						}
					},
					{
						"source": {
							"table": "ServiceInstaller"
						},
						"destination": {
							"fileName": "dbo.ServiceInstaller"
						}
					},
					{
						"source": {
							"table": "ServicePartsList"
						},
						"destination": {
							"fileName": "dbo.ServicePartsList"
						}
					}
				]
			},
			"cw_items_service2": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "ServiceProductReport"
						},
						"destination": {
							"fileName": "dbo.ServiceProductReport"
						}
					},
					{
						"source": {
							"table": "ServiceQualityControl"
						},
						"destination": {
							"fileName": "dbo.ServiceQualityControl"
						}
					},
					{
						"source": {
							"table": "ServiceService"
						},
						"destination": {
							"fileName": "dbo.ServiceService"
						}
					},
					{
						"source": {
							"table": "ServiceTask"
						},
						"destination": {
							"fileName": "dbo.ServiceTask"
						}
					},
					{
						"source": {
							"table": "ServiceVisitPlan"
						},
						"destination": {
							"fileName": "dbo.ServiceVisitPlan"
						}
					},
					{
						"source": {
							"table": "ServiceWorkLicense"
						},
						"destination": {
							"fileName": "dbo.ServiceWorkLicense"
						}
					},
					{
						"source": {
							"table": "ServiceContract"
						},
						"destination": {
							"fileName": "dbo.ServiceContract"
						}
					},
					{
						"source": {
							"table": "CallStudyService"
						},
						"destination": {
							"fileName": "dbo.CallStudyService"
						}
					},
					{
						"source": {
							"table": "ServiceInvoice"
						},
						"destination": {
							"fileName": "dbo.ServiceInvoice"
						}
					},
					{
						"source": {
							"table": "ServiceWarrantyApply"
						},
						"destination": {
							"fileName": "dbo.ServiceWarrantyApply"
						}
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-18T06:51:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}