pipeline/OA.json
{
	"name": "OA",
	"properties": {
		"activities": [
			{
				"name": "ForEach_OA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "TRUNCATE TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_oaitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_OA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "ods.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"value": "@item().copyActivity.translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_OADB",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_OAtoReport",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach_CRM",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_OA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_crmitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_CRM",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "ods.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"value": "@item().copyActivity.translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_CRMDB",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_CRMtoReport",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach_DW",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_dwitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_DW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.schema}.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "ods.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"value": "@item().copyActivity.translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_DWDB",
									"type": "DatasetReference",
									"parameters": {
										"cw_schema": "@item().source.schema",
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_DWtoReport",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "TRUNCATE TABLE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_TruncateTable]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Dim_Distributor_Get",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Dim_Distributor_Get]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Marge_SAPOrders",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_Dim_Distributor_Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Marge_SAPOrders]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Marge_SAPOrderItems",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_Marge_SAPOrders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Marge_SAPOrderItems]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Fact_SalesOrder_Get",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_Marge_SAPOrderItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Fact_SalesOrder_Get]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Fact_Deliveries_Get",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_Fact_SalesOrder_Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Fact_Deliveries_Get]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Fact_DeliveriesTrend_Get",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_Fact_Deliveries_Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Fact_DeliveriesTrend_Get]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Fact_FiveYearSubstitution_Get",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_Fact_DeliveriesTrend_Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Fact_FiveYearSubstitution_Get]"
				},
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SAP BackUp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "USP_Fact_FiveYearSubstitution_Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_sapbackupitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SAPBackUp",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "ods.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "sapdata/SAPBackUp/@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_SAPBackUp",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_SAPBackUp",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy_Academictraining",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.View_学术用户培训会结算表"
					},
					{
						"name": "Destination",
						"value": "oasystem//academictraining"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_Academictraining",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_Academictraining",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_purchasetasknew",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.viewPurchaseTaskNew"
					},
					{
						"name": "Destination",
						"value": "dbo.PurchaseTaskNew"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate table PurchaseTaskNew;",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Year",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Province",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Province",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Office",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Office",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Area",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Area",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ProductType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductType",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Task",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "Task",
									"type": "Decimal"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_purchasetasknew",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_purchasetasknew",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyToDw_CSD_MaintenancePack",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SAP BackUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.View_CSD_MaintenancePack"
					},
					{
						"name": "Destination",
						"value": "dbo.ServerBI_CSD_MaintenancePack"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table [dbo].[ServerBI_CSD_MaintenancePack];",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "DataLake",
							"type": "LinkedServiceReference"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_CSD_MaintenancePack",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_b3a",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_HotlineQC",
				"description": "热线QC",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "流水号",
									"type": "String"
								},
								"sink": {
									"name": "流水号",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "状态",
									"type": "String"
								},
								"sink": {
									"name": "状态",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "发起日期",
									"type": "DateTime"
								},
								"sink": {
									"name": "发起日期",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "发起人",
									"type": "String"
								},
								"sink": {
									"name": "发起人",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "质检_上传附件",
									"type": "String"
								},
								"sink": {
									"name": "质检_上传附件",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "坐席_上传附件",
									"type": "String"
								},
								"sink": {
									"name": "坐席_上传附件",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "坐席姓名",
									"type": "String"
								},
								"sink": {
									"name": "坐席姓名",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_话务质检窗口人",
									"type": "String"
								},
								"sink": {
									"name": "流程_话务质检窗口人",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_话务坐席",
									"type": "String"
								},
								"sink": {
									"name": "流程_话务坐席",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_热线经理",
									"type": "String"
								},
								"sink": {
									"name": "流程_热线经理",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "坐席工号",
									"type": "String"
								},
								"sink": {
									"name": "坐席工号",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "选部门1",
									"type": "String"
								},
								"sink": {
									"name": "选部门1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_发起日期",
									"type": "String"
								},
								"sink": {
									"name": "流程_发起日期",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_发起人",
									"type": "String"
								},
								"sink": {
									"name": "流程_发起人",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "质检日期",
									"type": "DateTime"
								},
								"sink": {
									"name": "质检日期",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "话务日期",
									"type": "DateTime"
								},
								"sink": {
									"name": "话务日期",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "通话标识",
									"type": "String"
								},
								"sink": {
									"name": "通话标识",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CRM单号",
									"type": "String"
								},
								"sink": {
									"name": "CRM单号",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "问题分类",
									"type": "String"
								},
								"sink": {
									"name": "问题分类",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "问题严重度",
									"type": "String"
								},
								"sink": {
									"name": "问题严重度",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "话务方向",
									"type": "String"
								},
								"sink": {
									"name": "话务方向",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "问题严重度终判",
									"type": "String"
								},
								"sink": {
									"name": "问题严重度终判",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "文本域1",
									"type": "String"
								},
								"sink": {
									"name": "文本域1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "质检窗口_问题点",
									"type": "String"
								},
								"sink": {
									"name": "质检窗口_问题点",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "坐席_改进总结",
									"type": "String"
								},
								"sink": {
									"name": "坐席_改进总结",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "申诉理由",
									"type": "String"
								},
								"sink": {
									"name": "申诉理由",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "最终改进建议",
									"type": "String"
								},
								"sink": {
									"name": "最终改进建议",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "质检窗口_改进建议",
									"type": "String"
								},
								"sink": {
									"name": "质检窗口_改进建议",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_HotlineQC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_HotlineQC",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_MaintenancePackDelivery",
				"description": "保养包发货数据",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SAP BackUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "partnerNo",
									"type": "String"
								},
								"sink": {
									"name": "partnerNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "orderNo",
									"type": "String"
								},
								"sink": {
									"name": "orderNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "productNo",
									"type": "String"
								},
								"sink": {
									"name": "productNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "deliveryDate",
									"type": "String"
								},
								"sink": {
									"name": "deliveryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "deliveryAmount",
									"type": "Double"
								},
								"sink": {
									"name": "deliveryAmount",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "secondProductLineName",
									"type": "String"
								},
								"sink": {
									"name": "secondProductLineName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FY",
									"type": "Int32"
								},
								"sink": {
									"name": "FY",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "CRMID",
									"type": "String"
								},
								"sink": {
									"name": "CRMID",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_MaintenancePackDelivery",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_MaintenancePackDelivery",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_HotlineQCStatistics",
				"description": "热线QC",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "流程状态",
									"type": "String"
								},
								"sink": {
									"name": "流程状态",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "质检日期",
									"type": "DateTime"
								},
								"sink": {
									"name": "质检日期",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "话务日期",
									"type": "DateTime"
								},
								"sink": {
									"name": "话务日期",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "坐席工号",
									"type": "String"
								},
								"sink": {
									"name": "坐席工号",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "坐席姓名",
									"type": "String"
								},
								"sink": {
									"name": "坐席姓名",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "通话标识",
									"type": "String"
								},
								"sink": {
									"name": "通话标识",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "话务方向",
									"type": "String"
								},
								"sink": {
									"name": "话务方向",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "是否流转",
									"type": "String"
								},
								"sink": {
									"name": "是否流转",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流水号",
									"type": "String"
								},
								"sink": {
									"name": "流水号",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "发起日期",
									"type": "DateTime"
								},
								"sink": {
									"name": "发起日期",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "发起人",
									"type": "String"
								},
								"sink": {
									"name": "发起人",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_话务质检窗口人",
									"type": "String"
								},
								"sink": {
									"name": "流程_话务质检窗口人",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "流程_话务坐席",
									"type": "String"
								},
								"sink": {
									"name": "流程_话务坐席",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "部门",
									"type": "String"
								},
								"sink": {
									"name": "部门",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "问题分类",
									"type": "String"
								},
								"sink": {
									"name": "问题分类",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "问题严重度",
									"type": "String"
								},
								"sink": {
									"name": "问题严重度",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "抽检话务数量",
									"type": "Decimal"
								},
								"sink": {
									"name": "抽检话务数量",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "抽查坐席人数",
									"type": "Decimal"
								},
								"sink": {
									"name": "抽查坐席人数",
									"type": "Decimal"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_HotlineQCStatistics",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_HotlineQCStatistics",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"cw_oaitems": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "viewAgentChange"
						},
						"destination": {
							"table": "AgentChange"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SAP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Lingpeijian",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Lingpeijian",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Yicixing",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Yicixing",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Xiaohaoping",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Xiaohaoping",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewArea"
						},
						"destination": {
							"table": "Area"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewContractedRate"
						},
						"destination": {
							"table": "ContractedRate"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 38
										},
										"sink": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TotalTask",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 38
										},
										"sink": {
											"name": "TotalTask",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TotalDistributor",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TotalDistributor",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NewDistributor",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NewDistributor",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDNew",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "IDNew",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BNPNew",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BNPNew",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDBNPNew",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "IDBNPNew",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewContractedReseller"
						},
						"destination": {
							"table": "ContractedReseller"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OAID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OAID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ApplicationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ApplicationDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Applicant",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Applicant",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ChangeType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ChangeType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "finishedflag",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "finishedflag",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ApplicationDepartmentNew",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ApplicationDepartmentNew",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PartName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PartName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NewDistributor",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NewDistributor",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDNew",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "IDNew",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BNPNew",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BNPNew",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IDBNPNew",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "IDBNPNew",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ReagentTask",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 38
										},
										"sink": {
											"name": "ReagentTask",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "InstrumentTask",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 38
										},
										"sink": {
											"name": "InstrumentTask",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewCRMProduct"
						},
						"destination": {
							"table": "CRMProduct"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewDisplaceAXSerial"
						},
						"destination": {
							"table": "DisplaceAXSerial"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewDisplaceBaseData"
						},
						"destination": {
							"table": "DisplaceBaseData"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InstallDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InstallDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "YearMonth",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "YearMonth",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FYear",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FYear",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ChangeGroup",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ChangeGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewDisplaceGroup"
						},
						"destination": {
							"table": "DisplaceGroup"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DisplaceGroup",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DisplaceGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewDisplaceYearAgoBaseData"
						},
						"destination": {
							"table": "DisplaceYearAgoBaseData"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ChangeGroup",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ChangeGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "old",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "old",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "five",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "five",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewDistributorProductArea"
						},
						"destination": {
							"table": "DistributorProductArea"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewEmptyHospitals"
						},
						"destination": {
							"table": "EmptyHospitals"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LEVEL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Level",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MCC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MCC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UF",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UF",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VASTEC",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VASTEC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewForecastByReportType"
						},
						"destination": {
							"table": "ForecastByReportType"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReagentTask",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "ReagentTask",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InstrumentTask",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "InstrumentTask",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "YTDInstalled",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "YTDInstalled",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "LastQInstalled",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "LastQInstalled",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InstalledForecast",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "InstalledForecast",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ReagentYTD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "ReagentYTD",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ReagentLast",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "ReagentLast",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ReagentForecast",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "ReagentForecast",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InstrumentYTD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "InstrumentYTD",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InstrumentLast",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "InstrumentLast",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InstrumentForecast",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "InstrumentForecast",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Application",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Application",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewHUAXINDetail"
						},
						"destination": {
							"table": "HUAXINDetail"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quarter",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Quarter",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Task",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Task",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sale",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sale",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Install",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Install",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SignPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "SignPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "SalePercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "SalePercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "InstallPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "InstallPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "Forecast",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Forecast",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 20
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ForecastPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "ForecastPrice",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ForecastPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 32
										},
										"sink": {
											"name": "ForecastPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewHUAXINSign"
						},
						"destination": {
							"table": "HUAXINSign"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Quarter",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Quarter",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XNLTask",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XNLTask",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XNLSign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XNLSign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XNLSale",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XNLSale",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XNLInstall",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XNLInstall",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XNLSignPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "XNLSignPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "XNLSalePercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "XNLSalePercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "XNLInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "XNLInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "XSTask",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XSTask",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XSSign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XSSign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XSSale",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XSSale",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XSInstall",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "XSInstall",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "XSSignPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "XSSignPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "XSSalePercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "XSSalePercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "XSInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "XSInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CATask",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CATask",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CASign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CASign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CASale",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CASale",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CAInstall",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CAInstall",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CASignPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "CASignPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CASalePercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "CASalePercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CAInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "CAInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CSTask",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CSTask",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CSSign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CSSign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CSSale",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CSSale",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CSInstall",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CSInstall",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CSSignPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "CSSignPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CSSalePercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "CSSalePercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CSInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "CSInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "UFTask",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UFTask",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UFSign",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UFSign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UFSale",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UFSale",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UFInstall",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UFInstall",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UFSignPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "UFSignPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "UFSalePercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "UFSalePercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "UFInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 17,
											"precision": 31
										},
										"sink": {
											"name": "UFInstallPercent",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewImmuneTask"
						},
						"destination": {
							"table": "ImmuneTask"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewImmunotaxonomy"
						},
						"destination": {
							"table": "Immunotaxonomy"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Immunotaxonomy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Immunotaxonomy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewInstallProvinceOfficeArea"
						},
						"destination": {
							"table": "InstallProvinceOfficeArea"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewMainInstallProvinceArea"
						},
						"destination": {
							"table": "MainInstallProvinceArea"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewNoreagentBase"
						},
						"destination": {
							"table": "NoreagentBase"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductGroup",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewNoreagentPullback"
						},
						"destination": {
							"table": "NoreagentPullback"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "HospitalID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewPurchaseTask"
						},
						"destination": {
							"table": "PurchaseTask"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Year",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 38
										},
										"sink": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewReagentCode"
						},
						"destination": {
							"table": "ReagentCode"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewSpecialAreas"
						},
						"destination": {
							"table": "SpecialAreas"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SpecialArea",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SpecialArea",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Area",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "viewTop500Hospitals"
						},
						"destination": {
							"table": "Top500Hospitals"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "field0001",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "field0001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "field0002",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "field0002",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "field0003",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "field0003",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "view_CSD_QCCode"
						},
						"destination": {
							"table": "CSD_QCCode"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Remark",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Remark",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "view_CSD_MaintenancePackCode"
						},
						"destination": {
							"table": "CSD_MaintenancePackCode"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Remark",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Remark",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "view_CSD_QCTask"
						},
						"destination": {
							"table": "CSD_QCTask"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAPID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAPID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CRMID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CRMID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "FY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "FY",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "view_CSD_MaintenancePackTask"
						},
						"destination": {
							"table": "CSD_MaintenancePackTask"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Distributor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SAPID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SAPID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CRMID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CRMID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ShortName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "Task",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "FY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 20
										},
										"sink": {
											"name": "FY",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					}
				]
			},
			"cw_crmitems": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "CSBI_CallSalesDaily"
						},
						"destination": {
							"table": "CSBI_CallSalesDaily"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CallSalesDailyId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CallSalesDailyId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "CallSalesEventTypeId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CallSalesEventTypeId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Coeff",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Coeff",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "IsTripCall",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsTripCall",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsCustomCall",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsCustomCall",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsWeekend",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsWeekend",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DateNumber",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DateNumber",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ProvinceId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ProvinceId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "CityId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CityId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "DailyDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DailyDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Account",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "Account",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "TargetPerson",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TargetPerson",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Tel",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Tel",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WorkContent",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "WorkContent",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "WorkComment",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "WorkComment",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "ProductInfos",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProductInfos",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Dealer",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "Dealer",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "OtherContent1",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "OtherContent1",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "OtherContent2",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "OtherContent2",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "OtherContent3",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "OtherContent3",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "Expense",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Expense",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Status",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ApprovalComment",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "ApprovalComment",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "IsApproved",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsApproved",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "WorkContent2",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "WorkContent2",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "Result",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Result",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "Reagent",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reagent",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsNoReagent1",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNoReagent1",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsNoReagent2",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNoReagent2",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsNoReagent3",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNoReagent3",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsNoReagent4",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNoReagent4",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsWorkContent2",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsWorkContent2",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "TimePeriod",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TimePeriod",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Remark",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Remark",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RemarkDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "RemarkDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "IsNewEmployee",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNewEmployee",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "IsNoReagent5",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsNoReagent5",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DealerAgency",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "DealerAgency",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "HasImmuneIntention",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "HasImmuneIntention",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ImmuneIntentionContent",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ImmuneIntentionContent",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DealerAgencyLevel",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DealerAgencyLevel",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DealerAgencyType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DealerAgencyType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "HasSendEmail",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "HasSendEmail",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "VisitContent1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VisitContent1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VisitContent2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VisitContent2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VisitContent3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VisitContent3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VisitContent4",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VisitContent4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VisitContent5",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VisitContent5",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DealerAgencyCategory",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DealerAgencyCategory",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "MarketThrombus",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MarketThrombus",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "AttendThrombus",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AttendThrombus",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TransferThrombus",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TransferThrombus",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegisterId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "RegisterId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "AccountUnion",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "AccountUnion",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "CSBI_Province"
						},
						"destination": {
							"table": "CSBI_Province"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProvinceId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ProvinceId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AreaEngineer",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "AreaEngineer",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "BedCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BedCount",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BusinessUnit",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "BusinessUnit",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Gdp",
											"type": "Decimal",
											"physicalType": "money"
										},
										"sink": {
											"name": "Gdp",
											"type": "Decimal",
											"physicalType": "money"
										}
									},
									{
										"source": {
											"name": "GdpBase",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "GdpBase",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Population",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StateCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StatusCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StatusCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "Category",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "RefProvince",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "RefProvince",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "CreatedTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "SalesNoReagent"
						},
						"destination": {
							"table": "SalesNoReagent"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StateCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StateCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "StatusCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "StatusCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "NoReagentId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "NoReagentId",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Account",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "Account",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ProductType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ReagentType",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ReagentType",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Brand",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Brand",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "DirectorName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DirectorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SixSentence",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SixSentence",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NegotiationComment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NegotiationComment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ReportDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ReportDept",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReportDept",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "UpdateProduct",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "UpdateProduct",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "DirectorPhone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DirectorPhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransferPaper",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TransferPaper",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DirectorTitle",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DirectorTitle",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TransferSixSentence",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TransferSixSentence",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TransferProposal",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TransferProposal",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ReagentBack",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ReagentBack",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "VisitFeedback",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VisitFeedback",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Installation",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										},
										"sink": {
											"name": "Installation",
											"type": "Guid",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "ReagentTypes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReagentTypes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReagentTypeHistory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReagentTypeHistory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReturnStatus",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ReturnStatus",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ReturnComment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReturnComment",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReagentReturnTypes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReagentReturnTypes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					}
				]
			},
			"cw_dwitems": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"schema": "dbo",
							"table": "Dim_SysInfo"
						},
						"destination": {
							"table": "Dim_SysInfo"
						},
						"copySink": {
							"tableOption": null
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LB_UserID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_UserID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NavCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NavCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Position",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SalesDept",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SalesDept",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "Fact_Installed"
						},
						"destination": {
							"table": "Installed"
						},
						"copySink": {
							"tableOption": null
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_InstalledKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_InstalledKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_InstallationId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_InstallationId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SerialNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FL_UseReagent",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "FL_UseReagent",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ID_AccountKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_AccountKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_AccountId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AccountName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_GeographyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_GeographyKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_NewGeographyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_NewGeographyKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_ProvinceId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProvinceId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CityId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CityId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_VestedProvince",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_VestedProvince",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_OldRegion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_OldRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewOffice",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewOffice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewRegion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AccountTypes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountTypes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AccountGrade",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountGrade",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_DealerKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_DealerKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_DealerId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_DealerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_InstallDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_InstallDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ID_ProductKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProductKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_ProductId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProductId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_FirstCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FirstCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_DateKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_DateKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_Month",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_QuanterKey",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_QuanterKey",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FL_InstallMoney",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_InstallMoney",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "FL_InstallNum",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_InstallNum",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "FL_StreamNum",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_StreamNum",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ID_SalesDictKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_SalesDictKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_Sales",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Sales",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_OfficeManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_OfficeManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AreaManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AreaManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewOfficeManager",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewOfficeManager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewAreaManager",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewAreaManager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "Fact_InstallIntention"
						},
						"destination": {
							"table": "InstallIntention"
						},
						"copySink": {
							"tableOption": null
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_IntentionKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_IntentionKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_OpportunityId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_OpportunityId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_AccountKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_AccountKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_AccountId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AccountName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_GeographyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_GeographyKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_NewGeographyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_NewGeographyKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_ProvinceId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProvinceId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CityId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CityId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_VestedProvince",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_VestedProvince",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_OldRegion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_OldRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewOffice",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewOffice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewRegion",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AccountTypes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountTypes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AccountGrade",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AccountGrade",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_DealerKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_DealerKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_DealerId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_DealerId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FL_Quantity",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "FL_Quantity",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DT_EstimatedCloseDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_EstimatedCloseDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DT_ActualCloseDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_ActualCloseDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DT_EstimatedInstallDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_EstimatedInstallDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_IntentionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_IntentionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_IntentionTypes",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_IntentionTypes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_IntentionCatagory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_IntentionCatagory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_ProductKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProductKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_ProductId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProductId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProductType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_FirstCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FirstCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID_DateKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_DateKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_Year",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_Month",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_QuanterKey",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_QuanterKey",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FL_IntentionMoney",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_IntentionMoney",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ID_SalesDictKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_SalesDictKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_Sales",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Sales",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_OfficeManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_OfficeManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_AreaManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_AreaManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewOfficeManager",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewOfficeManager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_NewAreaManager",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_NewAreaManager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "Fact_ProvinceInstallTask"
						},
						"destination": {
							"table": "ProvinceInstallTask"
						},
						"copySink": {
							"tableOption": null
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_ProvinceTaskKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProvinceTaskKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ID_ProvinceKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProvinceKey",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SalesDept",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SalesDept",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_VestedProvinces",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_VestedProvinces",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CustomGrade",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CustomGrade",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Dealer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_FirstCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FirstCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_ProductCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProductCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FL_UnitTaskPrice",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_UnitTaskPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Instrument",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Instrument",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FL_TaskNum",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_TaskNum",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "FL_TaskMoney",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_TaskMoney",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "LB_ProvinceCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ProvinceCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "Fact_SalesInstallTask"
						},
						"destination": {
							"table": "SalesInstallTask"
						},
						"copySink": {
							"tableOption": "autoCreate"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID_SalesTaskKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_SalesTaskKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LB_Deptment",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Deptment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LB_Region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LB_Office",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Office",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID_SalesDictKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_SalesDictKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LB_RegionSales",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_RegionSales",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID_ProductGroupKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID_ProductGroupKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LB_ThirdCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ThirdCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LB_SecondCategory",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SecondCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FL_SalesTaskMoney",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "FL_SalesTaskMoney",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "LB_FiscalYear",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_FiscalYear",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LB_CreateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_CreateUser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DT_CreateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_CreateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LB_UpdateUser",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_UpdateUser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DT_UpdateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_UpdateTime",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LB_ActionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_ActionType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DT_ActionTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DT_ActionTime",
											"type": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"schema": "mdm",
							"table": "Responsible"
						},
						"destination": {
							"table": "Responsible"
						},
						"copySink": {
							"tableOption": null
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LB_HospitalId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_HospitalId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Province",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_HosptalName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_HosptalName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_Sales",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_Sales",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LB_SalesDept",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LB_SalesDept",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					}
				]
			},
			"cw_sapbackupitems": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "SAPDeliveries"
						},
						"destination": {
							"fileName": "odsSAPDeliveries.txt"
						}
					},
					{
						"source": {
							"table": "SAPOrderItems"
						},
						"destination": {
							"fileName": "odsSAPOrderItems.txt"
						}
					},
					{
						"source": {
							"table": "SAPOrders"
						},
						"destination": {
							"fileName": "odsSAPOrders.txt"
						}
					},
					{
						"source": {
							"table": "SAPUpdatedOrderItems"
						},
						"destination": {
							"fileName": "odsSAPUpdatedOrderItems.txt"
						}
					},
					{
						"source": {
							"table": "SAPUpdatedOrders"
						},
						"destination": {
							"fileName": "odsSAPUpdatedOrders.txt"
						}
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-09T05:49:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}