pipeline/RDS_dashboard.json
{
	"name": "RDS_dashboard",
	"properties": {
		"activities": [
			{
				"name": "ForEach_DW_to_RDSdashboard",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "USP_TRUNCATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.DW_Tables",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY_dashboard1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().tableName}"
								},
								{
									"name": "Destination",
									"value": "dbo.@{item().tableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "DestinationDataset_3wj",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RDS_bi_dashboard",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().tableName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "USP_TRUNCATE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_TRUNCATE]"
				},
				"linkedServiceName": {
					"referenceName": "RDS_bi_dashboard",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach_CRM_to_RDSdashboard",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "USP_TRUNCATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.CRM_Tables",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY_dashboard2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_295",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RDS_bi_dashboard",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": {
											"value": "@item().targetTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ServicePartsList",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "USP_TRUNCATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n\tA.[StateCode]\n    ,A.[StatusCode]\n    ,A.[PartsListId]\n    ,A.[Name]\n    ,A.[Amount]\n    ,A.[Code]\n    ,A.[Code1]\n    ,A.[Date]\n    ,A.[EndUseDate]\n    ,A.[Product]\n    ,A.[ProductNo]\n\t,C.[ProductTypeCode] AS ProType\n    ,A.[Service]\n    ,A.[StartUseDate]\n    ,A.[State]\n    ,A.[IsDeleted]\n    ,A.[CreatedBy]\n    ,A.[CreatedOn]\n    ,A.[ModifiedBy]\n    ,A.[ModifiedOn]\n    ,A.[IsDealerInput]\n    ,A.[DealerUserId]\n    ,A.[SecDealerId]\n    ,A.[BatchCode]\n\t,B.Installation\n\t,C.Name AS ProductName,\n\tCASE C.[ProductTypeCode]\n\t\tWHEN 1 THEN N'仪器'\n\t\tWHEN 2 THEN N'试剂'\n\t\tWHEN 3 THEN N'配件'\n\t\tWHEN 200000 THEN N'组件'\n\t\tWHEN 200001 THEN N'其他'\n\t\tWHEN 200002 THEN N'停用产品'\n\tEND AS ProTypeText\nFROM ServicePartsList A\nLEFT JOIN ServiceService B ON A.Service = B.ServiceId\nLEFT JOIN ProductBase C ON A.Product = C.ProductId",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "StateCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "StateCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "StatusCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "StatusCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PartsListId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PartsListId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Amount",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Code1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Code1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "EndUseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EndUseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "Product",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "ProductNo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Service",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "Service",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "StartUseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StartUseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "State",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "ModifiedBy",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ModifiedBy",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "ModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedOn",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "IsDealerInput",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IsDealerInput",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "DealerUserId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "DealerUserId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "SecDealerId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "SecDealerId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "BatchCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BatchCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Installation",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "Installation",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ProTypeText",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProTypeText",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_295",
						"type": "DatasetReference",
						"parameters": {
							"cw_table": {
								"value": "@pipeline().parameters.ServicePartsList",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RDS_bi_dashboard",
						"type": "DatasetReference",
						"parameters": {
							"cw_table": {
								"value": "@pipeline().parameters.ServicePartsList",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"DW_Tables": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "客户看板_小希服务"
					},
					{
						"tableName": "客户看板_装机列表"
					},
					{
						"tableName": "客户看板_积分商城"
					}
				]
			},
			"CRM_Tables": {
				"type": "array",
				"defaultValue": [
					{
						"sourceTableName": "ServiceQualityControl",
						"targetTableName": "ServiceQualityControl"
					}
				]
			},
			"ServicePartsList": {
				"type": "string",
				"defaultValue": "ServicePartsList"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-09T03:42:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}