pipeline/ServerBI_Job_Day.json
{
	"name": "ServerBI_Job_Day",
	"properties": {
		"description": "热线BI每日更新任务（顾维卿）\n1.ServerBI_Base_万用表\n2.ServerBI_Base_考核经销商名单\n3.USP_ServerBI_Report_21财年经销商考核\n4.USP_ServerBI_Base_CRM数据导入",
		"activities": [
			{
				"name": "USP_ServerBI_Report",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Service_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServerBI_Report_21财年经销商考核]"
				},
				"linkedServiceName": {
					"referenceName": "DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_ServerBI_Base_CRM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_ServerBI_Base",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServerBI_Base_CRM数据导入]"
				},
				"linkedServiceName": {
					"referenceName": "DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_ServerBI_Service_CRM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Base_MBO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServerBI_Base_CRM业务信息]"
				},
				"linkedServiceName": {
					"referenceName": "DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_DW_ServerBI_Base_DEL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServerBI_Base_DEL]"
				},
				"linkedServiceName": {
					"referenceName": "DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach_ServerBI_Base",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "USP_DW_ServerBI_Base_DEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_ServerBI_Base",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "dbo.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "DataLake",
										"type": "LinkedServiceReference"
									}
								},
								"translator": {
									"value": "@item().copyActivity.translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_3wj",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_3wj",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy_HospitalFeature",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "USP_Truncate_HospitalFeature",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "省份",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Province",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "城市",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "医院名称",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AccountName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "医院id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AccountId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "值",
									"type": "Single",
									"physicalType": "float"
								},
								"sink": {
									"name": "Value",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "属性",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DW_HospitalFeature",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CRMExtension_HospitalFeature",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "USP_Truncate_HospitalFeature",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Service_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Truncate_HospitalFeature]"
				},
				"linkedServiceName": {
					"referenceName": "CRMExtension",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USP_Truncate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Service_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Truncate]"
				},
				"linkedServiceName": {
					"referenceName": "CRMExtension",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach_CRMExtension",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "USP_Truncate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.crmextension_tables",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTo_CRMExtension",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "dbo.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "DataLake",
										"type": "LinkedServiceReference"
									}
								},
								"translator": {
									"value": "@item().copyActivity.translator",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DestinationDataset_3wj",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": {
											"value": "@item().source.table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CRMExtension2",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "USP_ServerBI_Base_MBO",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Base_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_ServerBI_Base_工程师MBO]"
				},
				"linkedServiceName": {
					"referenceName": "DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Pipe_Instrument",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Base_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ServerView_instrumentView",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "USP_Truncate_CRMExtension",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "USP_ServerBI_Service_CRM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Truncate_CRMExtension]"
				},
				"linkedServiceName": {
					"referenceName": "CRMExtension",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach_to_CrmExtension",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "USP_Truncate_CRMExtension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_to_CrmExtension_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_to_CrmExtension",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "sysmexdw",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().source.table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SourceDataset_z4t",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": {
											"value": "@item().destination.table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "ServerBI_Base_服务营销_保养包配件编号"
						},
						"destination": {
							"table": "ServerBI_Base_服务营销_保养包配件编号"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "产品编号",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "产品编号",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "保养包名称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "保养包名称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "ServerBI_Base_服务营销_试剂拉回与丢失"
						},
						"destination": {
							"table": "ServerBI_Base_服务营销_试剂拉回与丢失"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "省份（医院）",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "省份（医院）",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "地区（医院）",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "地区（医院）",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "医院(医院)_客户名称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "医院(医院)_客户名称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "医院(医院)_类型",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "医院(医院)_类型",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "医院(医院)_等级",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "医院(医院)_等级",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "型号(产品)_产品名称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "型号(产品)_产品名称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "序列号",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "序列号",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "签约经销商(经销商)_经销商名称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "签约经销商(经销商)_经销商名称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "安装结束日期",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "安装结束日期",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "医院(医院)_医院ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "医院(医院)_医院ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "状态描述",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "状态描述",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "是否使用原装试剂",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "是否使用原装试剂",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "装机全称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "装机全称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "产品组",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "产品组",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "产品线",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "产品线",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "非原装试剂类型",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "非原装试剂类型",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "修改人",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "修改人",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "销售大区",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "销售大区",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "办事处",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "办事处",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "丢失日期",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "丢失日期",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "状态",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "状态",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "回访日期",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "回访日期",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "回访结果",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "回访结果",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "申请拉回的类型",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "申请拉回的类型",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "统计时间",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "统计时间",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "ServerBI_Base_服务营销_质控覆盖明细表"
						},
						"destination": {
							"table": "ServerBI_Base_服务营销_质控覆盖明细表"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "装机全称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "装机全称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "初始质控使用水平数",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "初始质控使用水平数",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "初始配套质控使用情况",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "初始配套质控使用情况",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					},
					{
						"source": {
							"table": "ServerBI_Base_仪器保修销售"
						},
						"destination": {
							"table": "ServerBI_Base_仪器保修销售"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "合同编号",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "合同编号",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "仪器全称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "仪器全称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "医院名称",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "医院名称",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "保修起始",
											"type": "Date",
											"physicalType": "Date"
										},
										"sink": {
											"name": "保修起始",
											"type": "Date",
											"physicalType": "Date"
										}
									},
									{
										"source": {
											"name": "保修结束",
											"type": "Date",
											"physicalType": "Date"
										},
										"sink": {
											"name": "保修结束",
											"type": "Date",
											"physicalType": "Date"
										}
									},
									{
										"source": {
											"name": "服务费",
											"type": "Int",
											"physicalType": "Int"
										},
										"sink": {
											"name": "服务费",
											"type": "Int",
											"physicalType": "Int"
										}
									},
									{
										"source": {
											"name": "类别",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "类别",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "分值",
											"type": "Int",
											"physicalType": "Int"
										},
										"sink": {
											"name": "分值",
											"type": "Int",
											"physicalType": "Int"
										}
									},
									{
										"source": {
											"name": "医院工程师",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "医院工程师",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					}
				]
			},
			"crmextension_tables": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "ServerBI_Report_推送仪器清单"
						},
						"destination": {
							"table": "UnusualInstrument"
						},
						"copyActivity": {
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "仪器id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "InstrumentId",
											"type": "String",
											"physicalType": "uniqueidentifier"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "crm停机时间",
											"type": "Date",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DownTime",
											"type": "Date",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "最近一次上传日期",
											"type": "Date",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "UploadDate",
											"type": "Date",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "近三个月上传次数",
											"type": "float",
											"physicalType": "float"
										},
										"sink": {
											"name": "UploadTimes",
											"type": "float",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						}
					}
				]
			},
			"cw_to_CrmExtension_items": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"table": "errorcount_m40"
						},
						"destination": {
							"table": "errorcount_m40"
						}
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-28T03:02:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}